body{
    margin: 0px;
    padding: 0px;
    background-image: url(./hills-wallpaper-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#title-box{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 200%;
    color: brown;
    text-shadow: 2px 2px black;
}

#top{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    color: brown;
    text-shadow: 1px 1px black;
}

#play{
    margin-top: 1%;
    font-size: 150%;
    color: brown;
    background-color: rgb(213, 241, 31);
    border:solid;
    border-radius: 20px;
}

#play:hover{
    color: rgb(213, 241, 31);
    background-color: brown;
}

#play:disabled{
    color: transparent;
    background-color: transparent
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 200%;
    text-shadow: 1px 1px black;
    background-color: darkgreen;
    margin-bottom: 100px;
}

.innerCol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 200px;
    text-align: center;
    border-radius: 20px
}

.spot{
    height: 24%;
    width: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeImg{
    height: 90px;
    width: 100px;
}

.btn{
    background-color: blue;
}